<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SwasthaSetu - Multi Clinic Doctor Appointment System</title>
    <script src="https://cdn.tailwindcss.com"></script>
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700;800&display=swap');

        body {
            font-family: 'Inter', sans-serif;
        }
    </style>
</head>

<body class="bg-gradient-to-br from-blue-50 to bg-green-50 min-h-screen ">
    <nav class="bg-blue-100 w-full border-b border-gray-100 shadow-lg sticky top-0 z-50">
        <div class="max-w-7xl p-4 bg-blue-600 mx-auto">
            <div class="flex justify-between items-center">
                <div class="flex items-center">
                    <div class="w-10 h-10 bg-blue-900 mr-3 p-2"></div>
                    <div>
                        <h1 class="font-bold text-2xl">swasthasetu</h1>
                    </div>
                </div>
                <div class="hidden md:flex items-center space-x-4">
                    <a href="#Home">Home</a>
                    <a href="#contact">contact</a>
                    <a href="#About us">About us</a>
                    <a href="Doctor">Doctor</a>
                </div>
                <div class="hidden md:flex space-x-2">
                    <button class="w-10 h-10 bg-gray-200"></button>
                    <button class="w-10 h-10 bg-gray-50"></button>
                </div>
            </div>
        </div>
    </nav>
    <section id="#Home" class="bg-red-100">
        <div class="max-w-7xl py-8 min-h-screen mx-auto bg-yellow-100">
            <div class="grid lg:grid-cols-3 gap-8 ">
                <div class="lg:col-span-1">
                    <div class="bg-teal-500 rounded-2xl  p-6 text-white shadow-lg">
                        <div class="text-center mb-6 bg-red-200">
                            <div
                                class="w-48 h-48 text-center mx-auto shadow-lg border border-white rounded-full bg-gray-100 overflow-hidden">
                                <img src="/images/Radhe.jpg" class="size-auto" alt="">
                            </div>
                        </div>
                        <div class="text-center flex flex-col bg-blue-950">
                            <h1 class="text-3xl mx-auto text-gray-100">Dr.Pratham Kharade</h1>
                            <h5 class="text-xl text-gray-500 mb-4">Codologist</h5>
                        </div>
                    </div>
                    <div class="shadow-lg rounded-2xl space-y-4 mt-4  bg-violet-200 p-6">
                        <div class="flex flex-wrap items-start space-x-2 bg-gray-300">
                            <div class="w-5 flex items-center h-5 rounded-full bg-yellow-900"></div>
                            <div>
                                <p class="font-medium text-gray-800">Qualification</p>
                                <p class="text-gray-500 text-sm">Harvad school of tech</p>
                            </div>
                        </div>

                        <div class="flex  items-start space-x-2 bg-gray-300">
                            <div class="w-5 flex items-center h-5 rounded-full bg-yellow-900"></div>
                            <div>
                                <p class="font-medium text-gray-800">Qualification</p>
                                <p class="text-gray-500 text-sm">Harvad school of tech</p>
                            </div>
                        </div>

                        <div class="flex  items-start space-x-2 bg-gray-300">
                            <div class="w-5 flex items-center h-5 rounded-full bg-yellow-900"></div>
                            <div>
                                <p class="font-medium text-gray-800">Qualification</p>
                                <p class="text-gray-500 text-sm">Harvad school of tech</p>
                            </div>
                        </div>

                        <div class="flex  items-start space-x-2 bg-gray-300">
                            <div class="w-5 flex items-center h-5 rounded-full bg-yellow-900"></div>
                            <div>
                                <p class="font-medium text-gray-800">Qualification</p>
                                <p class="text-gray-500 text-sm">Harvad school of tech</p>
                            </div>
                        </div>

                        <div class="flex  items-start space-x-2 bg-gray-300">
                            <div class="w-5 flex items-center h-5 rounded-full bg-yellow-900"></div>
                            <div>
                                <p class="font-medium text-gray-800">Qualification</p>
                                <p class="text-gray-500 text-sm">Harvad school of tech</p>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="lg:col-span-2">
                    <div class="bg-pink-200 w-full h-full rounded-2xl p-8 shadow-xl "></div>
                </div>
            </div>
        </div>
    </section>
    <footer class="px-8 py-2">
        <div class="mx-auto  w-full  text-center">
            <p class="text-gray-400">All Rights Reserved</p>
        </div>
    </footer>
</body>

</html>